@model Association
<center>
    <h1 class="p-4">@ViewBag.SpecificCategory.Name</h1>
</center>

<div class="main-content">
    <div class="current-categories col-6">
        <h3>Products: </h3>
        <ul>
        @foreach(var c in ViewBag.SpecificCategory.Associations)
        {
                <li>@c.Product.Name</li>
        }
        </ul>
    </div>
    <div class="list-of-categories col-6">
        <h4>Add Product: </h4>
        <form action="/add/product/to/category" method="post">
            <div class="form-group">
                <select class="form-control" asp-for="ProductId">
                    @foreach(var u in ViewBag.ListProducts)
                    {
                        <option value="@u.ProductId">@u.Name</option>
                    }
                </select>
                <input type="hidden" value="@ViewBag.SpecificCategory.CategoryId" asp-for="CategoryId">
            </div>
            <button class="btn btn-primary">Add</button>
        </form>
    </div>
</div>