@{
    ViewData["Title"] = "Home Page";
}

<div class="chefdish">
    <a href="/chefs">Chefs |</a>
    <a href="/"> Dishes</a>
</div>

<div class="middle">
    <h3>Check out some recent dishes!</h3>
    <a href="/new">Add a Dish</a>
</div>

<hr>

<div class="dishItems">
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Chef</th>
            <th>Tastiness</th>
            <th>Calories</th>
        </tr>
        @foreach(Dish d in ViewBag.AllDishes)
        {
            <tr>
                <td>@d.Name</td>
                <td>@d.Creator.FirstName @d.Creator.LastName</td>
                <td>@d.Tastiness</td>
                <td>@d.Calories</td>
            </tr>
        }
    </table>
</div>
